<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- 指定方言 -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        
        <!-- 指定连接的四大参数 -->
        <!--
            <property name="connection.url">jdbc:mysql://192.168.217.14:3306/study</property>
        -->
        <property name="connection.url">jdbc:mysql://192.168.133.139:3306/hibernate</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
        
        <!-- 
            设置hbm2ddl:自动创建,更新,验证数据表结构
            validate//加载hibernate时,验证创建数据库表结构
            create//每次加载hibernate时,重新创建数据库表结构,会导致数据库原来的表数据丢失,删除同名的表,然后创建mapper映射文件中指定的表结构
            create-drop//加载hibernate时创建表,sesionfactory关闭时,自动删除表
            update(常用)加载hibernate自动更新数据库结构,如果不存在表就创建,如果存在表就直接使用,如果数据库中缺少列,就添加列
        -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        
        <!-- 是否显示SQL语句 -->
        <property name="show_sql">true</property>
        <!-- sql语句格式化 -->
        <property name="format_sql">true</property>
        
        <!-- 配置二级缓存 -->
        <!-- 声明使用二级缓存 -->
        <property name="cache.use_second_level_cache">true</property>
        <!-- 声明二级缓存的供应商 -->
        <property name="cache.provider_class">
            org.hibernate.cache.EhCacheProvider
        </property>
        
        <!-- 导入类与表的映射文件 -->
        <mapping resource="com/godfery/entity/Student.hbm.xml"/>
        <mapping resource="com/godfery/entity/Teacher.hbm.xml"/>
        <mapping resource="com/godfery/entity/Community.hbm.xml"/>
        <mapping resource="com/godfery/entity/AutoTable.hbm.xml"/>
        
        <!-- 声明score实体类要使用二级缓存:必须在导入类与表的映射文件的下面 -->
        <class-cache usage="read-only" class="com.godfery.entity.Student"/>
    </session-factory>
</hibernate-configuration>