<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>provisional</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 设置SpringMVC的全站编码 -->
  <filter>
      <filter-name>charsetFilter</filter-name>
      <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
      
      <init-param> <!-- 初始化参数指定编码集 -->
          <param-name>encoding</param-name>
          <param-value>utf-8</param-value>
      </init-param>
      
      <init-param> <!-- 初始化参数指定是否强制编码 -->
          <param-name>forceEncoding</param-name>
          <param-value>true</param-value>
      </init-param>
  </filter>
  <filter-mapping>
      <filter-name>charsetFilter</filter-name>
      <url-pattern>/*</url-pattern>
      <dispatcher>REQUEST</dispatcher> <!-- 直接请求会被过滤器拦截(默认) -->
      <dispatcher>FORWARD</dispatcher> <!-- 请求转发会被过滤器拦截(需设置) -->
      <dispatcher>INCLUDE</dispatcher> <!-- 请求包含会被过滤器拦截(需设置) -->
      <dispatcher>ERROR</dispatcher> <!-- 错误跳转会被过过滤器拦截(需设置) -->
  </filter-mapping>
  
  <!-- 配置springmvc的中央控制器 -->
  <servlet>
      <servlet-name>springmvc</servlet-name>
      <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
      
      <!-- 添加servlet的初始化参数,指定springmvc的核心配置文件的位置 -->
      <init-param>
          <param-name>contextConfigLocation</param-name>
          <param-value>classpath:configure/springmvc_configure.xml</param-value>
      </init-param>
  </servlet>
  
  <servlet-mapping>
      <servlet-name>springmvc</servlet-name>
      <url-pattern>*.action</url-pattern>
  </servlet-mapping>
</web-app>